* {
    margin: 0;
    padding: 0;
    background: #043333;
    color: #fff;
}

.topbar {
    height: 4rem;
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 100px;
}

.nav-container {
    margin: 0 auto;
}
.nav-list {
    display: flex;
    list-style: none;
}

.nav-item {
    margin-right: 2rem;
}
.nav-item a {
    font-size: 1.4rem;
    cursor: pointer;
    transition: 0.3s;
}

.nav-item a:hover {
    color: gold;
}